.product {
    width: 275px;
    position: relative;
    font-family: PagesGrotesqueRegular, PagesGrotesqueBold, PagesGrotesqueBlackDemo, PagesGrotesqueBlackItalicDemo,
                 PagesGrotesqueBoldItalicDemo, PagesGrotesqueItalicDemo, PagesGrotesqueLightItalicDemo, PagesGrotesqueLightDemo,
                 PagesGrotesqueRegularDemo, QfortheMemories;
}

.like-badge {
    width: 46px;
    height: 46px;
    background-color: #bcc5d1;
    border-radius: 50%;
    color: #fff;
}

.like-badge i {
    font-size: 20px;
}